html,
body {
	width: 300px;
}

body {
	font: menu;
	margin: 0;
}

.hidden {
	display: none;
}

input[type=radio] {
	display: none;
}

label.tab {
	background-color: buttonface;
	border: 1px solid threedhighlight;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	bottom: -1px;
	color: buttontext;
	display: inline-block;
	margin: 0;
	padding: .25em;
	position: relative;
	text-decoration: none;
	z-index: 1;
}

input#semantic[type=radio]:checked ~ label.tab[for=semantic],
input#layout[type=radio]:checked ~ label.tab[for=layout],
input#visual[type=radio]:checked ~ label.tab[for=visual],
input#audible[type=radio]:checked ~ label.tab[for=audible],
input#motor[type=radio]:checked ~ label.tab[for=motor] {
	border-color: threeddarkshadow;
}

input#semantic[type=radio]:checked ~ .test-list ul[data-tab=semantic],
input#layout[type=radio]:checked ~ .test-list ul[data-tab=layout],
input#visual[type=radio]:checked ~ .test-list ul[data-tab=visual],
input#audible[type=radio]:checked ~ .test-list ul[data-tab=audible],
input#motor[type=radio]:checked ~ .test-list ul[data-tab=motor],
{
	display: block;
}

h1 {
	font: menu;
	text-align: center;
}

ul.test-group {
	background-color: appworkspace;
	border: 1px solid threeddarkshadow;
	display: none;
	margin: 0;
	padding: 0;
}

li {
	cursor: pointer;
	display: block;
	padding: .25em;
	
	&:hover {
		background-color: highlight;
		color: highlighttext;
	}
}